version: "3.9"

services:
  spring:
    container_name: spring
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SERVER_MODE: local
    platform: linux/x86_64
    ports:
      - "8080:8080"
    depends_on:
      - local-db
    networks:
      - backbone

  local-db:
    container_name: local-db
    image: mysql:8.0
    platform: linux/x86_64
    restart: always
    ports:
      - "3308:3306"
    environment:
      MYSQL_DATABASE: test
      MYSQL_USER: local
      MYSQL_PASSWORD: 1234
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ~/project-volume/local-db:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    networks:
      - backbone

  redis:
    container_name: redis
    image: redis
    platform: linux/x86_64
    restart: always
    ports:
      - "6380:6379"
    networks:
      - backbone

networks:
  backbone:
    driver: bridge