version: "3.9"

services:
  spring1:
    container_name: spring1
    restart: always
    image: ghcr.io/dohyeon-han/github-actions-test:latest
    environment:
      SERVER_MODE: prod
    platform: linux/x86_64
    ports:
      - "8081:8080"
    depends_on:
      - db

  spring2:
    container_name: spring2
    image: ghcr.io/dohyeon-han/github-actions-test:latest
    environment:
      SERVER_MODE: prod
    restart: always
    platform: linux/x86_64
    ports:
      - "8082:8080"
    depends_on:
      - db

  nginx:
    container_name: nginx
    image: nginx
    restart: always
    ports:
      - "80:80/tcp"
      - "443:443"
    volumes:
      - ~/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ~/nginx/conf.d/application.conf:/etc/nginx/conf.d/application.conf
      - ~/nginx/conf.d/service-url.inc:/etc/nginx/conf.d/service-url.inc
    environment:
      - TZ=Asia/Seoul
    depends_on:
      - db

  db:
    container_name: db
    image: mysql:8.0
    platform: linux/x86_64
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USERNAME}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ~/project-volume/db:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci

  redis:
    container_name: redis
    image: redis
    platform: linux/x86_64
    restart: always
    ports:
      - "6379:6379"
